body {
  font-family: "Poppins";
  background: #ffffeb;
}
#heading {
  text-align: center;
  text-decoration: underline;
}
#crest {
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
}
#table,td,th {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
.question {
  font-weight: bold;
}
.input {
  font-style: italic;
}
#bonus {
  margin-left: 40px;
}
#b {
  font-weight: bold;
  font-size: 20px
}
#form {
  margin-left: 40px;
}